* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 474px;
  background: rgb(253 236 236 / 10%);;
  margin: 50px auto;
  border-radius: 7px;
  padding: 28px 0 30px;
  box-shadow: 0 10px 30px rgb(64 102 104 / 56%);;
}

.search-todo{
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.forms{
  width: 100%;
  text-align: left;
  padding: 10px 15px;
}
.forms input{
  border: 1px solid #008080;
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
}
.select{
  padding: 10px 15px;
}
.select select{  
  border: 1px solid #008080;
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 4px;
}


.pagination-nav{
  bottom: 0px;
}
.pagination-circle{
  padding: 10px 15px;
  background: none;
  color: darkslategray;
  border: 1px solid black; 
  border-radius: 50%;
  margin: 5px;
}
.pagination-pn{
  padding: 10px 15px;
  background: none;
  color: darkslategray;
  border: 1px solid black; 
  border-radius: 30%;
  margin: 5px;  
}

.active {
  background-color: #4AAE9B;
  color: #ffffff;
}






.container{
  position: relative;
  
}